body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url(img/tlo.png);
	font-size: 20px;
}

#container
{
	background-color: white;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	box-shadow: 
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9); /*cssmatic.com box shadow */
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0,9); /* trzy linie dla kompatybilnosci z roznymi przegladarkami */
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=text], /* ten rodzaj znaczników jest wyłączony z dziedzicznie jest poza kaskadą */
input[type=password] /* wskazanie tylko wybranych typów input */
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none; /* podświetlenie bez zaokrąglenie */
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9); 
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0,9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9); 
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0,9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}



input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}
