body
{
	background-image: url("img/tlo.png");
	margin-right: 0px;
	margin-left: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

a:link
{
	color: black;
	text-decoration: none;
}

a:visited
{
	color: black;
	text-decoration: none;
}

a:hover
{
	color: #485b3b;
	text-decoration: underline;
}

a:active
{
	color: black;
	text-decoration: underline;
}

#logo
{
	width: 100%;
	height: 50px;
	background-color: #485b3b;
	font-size: 36px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 0px 5px 0px; /*HTML 4 ZELENT 13:10*/
	letter-spacing: 3px;
	border-bottom: 2px solid #33402a;
	text-shadow: 
	2px 2px 0 #33402a,  /*test:   https://www.w3schools.com/css/tryit.asp?filename=trycss3_text-shadow3 lub https://html-css-js.com/css/generator/text-shadow/*/
	-2px 2px 0 #33402a,
	-2px -2px 0 #33402a,
	2px -2px 0 #33402a; /*HTML 4 ZELENT 15:54*/

}

#container
{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 878px;
	padding: 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#spis
{
	width: 780px;
	padding-left: 100px;
}

ol
{
	margin-top: 5px;
}

ol > li
{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px;
	letter-spacing: 3px;
}

ol>li>ul /* stylizacja dot. tylko tego konkretnego ul zagnieżdzonego w ol>li>ul*/
{
	font-size: 18px;
	text-transform: none;
	font-weight: 400;
	padding: 0px;
	letter-spacing: 0px;
	margin-top: 5px;
	margin-left: 30px;
	list-style-type: none;
}
ol>li>ul>li /* by przeglądarka nie ustawila jakis swoich domyslnych itemów na liscie */
{
	margin: 0px;
}

ol>li>ul>li:before /*co ma sie na liscie znalezc zanim pojawi sie tam tresc z HTML */
{
	color: c
	content: "⚠"; /* ENCJA mozesz uzyc tez fontello*/
	margin-right: 5px;
}

.slajd
{
	padding: 20px 40px;
	text-align: justify;
}

h1
{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.scrollup
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("img/up.png") no-repeat 0px 0px; /*04html 1:18:22 - no-repat nie powtarzaj obrazka
	jes;i rozmiar bedzie wiekszy niz 64 px nie powtarzaj drugi raz grafiki tla
	0px 0px rozpocznij wypełnianie tla od lewej krawedzi hiperlacza
	Poniżej jak umiescic te przycisk w prawym dolnym rogu. Te wspolrzedne wplywaja na polozenie
	przycisku na stronie */
	position: fixed; /* fixed - przypisano na stałe*/
	right: 50px;
	bottom: 50px;
	display: none;
}

#stopka
{
	width: 100%;
	height: 32px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: #485b3b;
	padding: 5px, 0px, 5px, 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-top: 2px, solid #33402a;
	text-shadow: 
		2px 2px 0 #33402a, 
	-2px 2px 0 #33402a,
	-2px -2px 0 #33402a,
	2px -2px 0 #33402a;
}
