body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1.logo
{
	font-size: 44px;
	font-weight: 700px;
	color: #ddd;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}

nav
{
	background-color: #1c74b2;
	text-align: center;
}

.menu
{
	list-style-type: none; /* usuniecznie kropek listy */
	margin: 0px;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%  /* jak interlinia */
}

.menu > li
{
	display: inline-block; /* alternatywa dla float:left;*/
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

.menu > li:first-child /* pierwszy potomek - robienie linii przerywanej z lewej strony*/
{
	border-left: 1px dashed #0a2b42;
}

.menu a:link /*nieodwiedzony link */
{ 
	color: #fff;
	text-decoration: none;
}


.menu a:visited /*odwiedzony link */
{ 
	color: green;
	text-decoration: none;	
}

.menu a:hover /*najechanie myszką na link */
{
	color: #0a2b42;
	text-decoration: underline;
}

.menu a:active /*w momencie naciśniecia linku */
{
	color: yellow;
	text-decoration: underline;
}
